<app-navbar></app-navbar>

<div class="container">
        <div id="marketing" class="section">
          <div class="content col-md-12">
                <app-login ></app-login>
            </div>
          <div class="overlay"></div>
        </div>
        <div id="technology" class="section">
          <div class="content">
                <app-about></app-about>
            </div>
          <div class="overlay"></div>
        </div>
        <div id="advertising" class="section">
          <div class="content">
            <app-general-information></app-general-information>
          </div>
          <div class="overlay"></div>
        </div>
      </div>